.nhnhnh{ height: 600px; width: 100%;} 
    .mn{ font-size: large;
       color: rgb(46, 65, 46);  
      }
       .momomo{color:rgb(0, 0, 0);
            font-size: 34px;
            /* background-color: aqua; */
            }
    .bmo{ width: 100%;}

    .iphonee{ height: 100px; 
    
    }
    .div-iph{ height: 100px; width: 200px;}
    
    .momomo
    {margin:auto ;
     text-align: center;
     /* padding-left: 200px; */
    }
    .momo{ height: 370px;}
    .eti{margin-left:530px ;}
    .moatasem{margin-left: 470px;
        width: 400px;
        font-size: 30px;
    background-color: rgb(19, 224, 224);}
    
    

